.logo, .head, .navigation, .head_big, .foot .srvinfo {
    visibility: hidden !important;
    display: none !important;
}

.content {
    width: 10%;
}

h1 {
 background-color: #ff00ff;
}
