<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ application }} Hauptmenü</title>
    <script type="text/javascript">
        //<![CDATA[
        let gui_focus_id;

        function SetFocusId(i_id) {
            gui_focus_id = i_id;
        }

        function SetFocus() {
            let el = document.getElementById(gui_focus_id);
            if (el) {
                el.focus();
                if (el.select) {
                    el.select();
                }

            }

        }

        //]]>
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="style.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="print.css") }}" media="print">
    <style type="text/css">
        .bgclr {
            background-color: white;
        }

        .head, .head_big {
            border-color: white;
        }
    </style>
</head>
<body>
<table class="default_layout main_layout">
    <tbody>
    <tr>
        <td class="bgclr" rowspan="2">
            <a href="{{ url_for("main_menu.main_menu") }}" class="logo"><img
                    src="{{ url_for('static', filename="compor-plus.logo.png") }}" alt="{{ application }} Hauptmenü"
                    title="{{ application }} Hauptmenü"></a>
        </td>
        <td class="head">
            <div class="left"><a href="{{ url_for("main_menu.main_menu") }}">Sicht:
                {{ company }}</a>
            </div>
            <div class="right"><a href="{{ url_for("main_menu.main_menu") }}"
                                  title="Öffnet die Informations-Seite in einem neuen Fenster."
                                  target="_blank">{{ application }}-Info</a>
                <a href="{{ url_for("main_menu.main_menu") }}">Hilfe</a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="head_big">
            <div class="left">{{ application }}</div>
        </td>
    </tr>
    <tr>
        <td class="head">
        </td>
        <td class="head">
            <div class="left">Sie sind hier:
                Hauptmenü
            </div>
            {% if user.is_authenticated %}
                <div class="right">
                    Nutzer: {{ user.generate_username() }}
                    <a href="{{ url_for("user_routes.logout") }}" title="Abmelden vom Anmeldeverbund">Abmelden</a>
                </div>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td class="navigation">
            <ul class="navigation">
                <li class="navigation">
                    <div class="navigation navig_lev1 navig_inactive menu_clr_ma1">
                        {% if user.is_authenticated %}
                            <a href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}"
                               id="MEI_M110" class="navigation" accesskey="Z">Zeitmanagement</a>
                        {% else %}
                            <a href="{{ url_for("main_menu.main_menu") }}"
                               id="MEI_M110" class="navigation" accesskey="Z">Zeitmanagement</a>
                        {% endif %}
                        <script type="text/javascript">
                            //<![CDATA[
                            SetFocusId('MEI_M110');
                            //]]>
                        </script>
                    </div>
                 <div class="navigation navig_lev1 navig_inactive menu_clr_ma1">
                        {% if user.is_authenticated %}
                            <a href="{{ url_for("reports.reports", user_id=user.id) }}"
                               id="MEI_M110" class="navigation" accesskey="Z">Berichte</a>
                        {% else %}
                            <a href="{{ url_for("main_menu.main_menu") }}"
                               id="MEI_M110" class="navigation" accesskey="Z">Berichte</a>
                        {% endif %}
                        <script type="text/javascript">
                            //<![CDATA[
                            SetFocusId('MEI_M110');
                            //]]>
                        </script>
                    </div>
                </li>
            </ul>
        </td>
        <td class="content">
            <noscript>Java Script ist deaktiviert.</noscript>
            <br>
            <noscript>Bitte aktivieren Sie Java Script.</noscript>
            <div id="waitDisplay" class="content" style="display: none;"><br>
                Die Daten werden geladen. Bitte haben Sie etwas Geduld.
            </div>
            {% if not user.is_authenticated %}
                <div>
                    <fieldset class="legend_caption">
                        <legend>Login</legend>
                        <form method="post" action="{{ url_for("user_routes.login") }}">
                            <label for="username" class="gui_label_normal">E-Mail Adresse</label>
                            <input id="username" name="username" type="text"/>
                            <br/>
                            <label for="password" class="gui_label_normal">Passwort</label>
                            <input id="password" name="password" type="password"/>
                            <br/>
                            <input type="submit" value="Anmelden">
                        </form>
                    </fieldset>
                </div>
            {% endif %}
            <div id="delayedDisplay" class="content" style="display: inline;">
                <h1>WILLKOMMEN bei {{ application }}</h1>
                <h2>Bitte beachten Sie:</h2>
                <div>
                    <h3>An {{ application }} bestehen keine besonderen
                        Anforderungen in Bezug auf sensible Betriebs- oder Geschäftsdaten. <br>
                        Falls Sie Beratung im Zusammenhang mit {{ application }}
                        als Abrechnungstool für Verträge mit "German Eyes Only"-Vermerk benötigen, wenden Sie sich bitte
                        an
                        <span style="color:#01ACE4;"><a
                                href="mailto:{{ email }}">{{ email }}</a></span>
                    </h3>
                    <hr>
                    <h3 align="center">Die Produktivsetzung des {{ application }} Releases 4.24 p1 wurde
                        erfolgreich abgeschlossen.<br>
                        Sie können sich über die Inhalte in unseren <a target="_blank"
                                                                       href="{{ url_for("main_menu.main_menu") }}"><u>Releasenotes</u></a>
                        informieren.
                    </h3>
                    <hr>
                    <br>
                    <br>
                    <!--Vorlage, Termine siehe unter AM_SharePoint\Monatsabschlusstermine\_Monatsabschlusstermine_Vorlage_für_Info_an_alle_MOH.docx-->
                    <h3 style="margin-top:0em; margin-bottom:0em" align="center">Abschlusstermine für die
                        Aufwandserfassung in {{ generate_date_from_month() }}
                    </h3>
                    <br><br>
                    <img src="{{ url_for('static', filename="bn-d.gif") }}" height="12"> <span
                        style="color:#01ACE4;"><b>Termine und Aktivitäten für die {{ company }}:</b></span><br>
                    <b>Mitarbeiter:</b> Abschlusstermin zur Aufwandserfassung und Sicherung des
                    Einsatzblattes {{ generate_date_from_now(-8, 12)|safe }} MESZ (UTC+2)
                    <br>
                    - Buchung der Tage bis zum Monatsende nach bestem Wissen und Gewissen<br>
                    <b>Personalverantwortliche:</b> Prüfung und Sichern der
                    Einsatzblätter {{ generate_date_from_month() }}: {{ generate_date_from_now(-7, 12)|safe }} MESZ
                    (UTC+2)
                    <br><br>
                    <img src="{{ url_for('static', filename="bn-ch.gif") }}" height="12"> <span
                        style="color:#01ACE4;"><b>Termine und Aktivitäten für die {{ company }} Schweiz:</b></span><br>
                    <b>Mitarbeiter:</b> Aufwandserfassung und Sicherung des
                    Einsatzblattes {{ generate_date_from_month() }}: {{ generate_date_from_now(3, 18)|safe }} MESZ
                    (UTC+2)<br>
                    <br>
                    <img src="{{ url_for('static', filename="bn-nl.gif") }}" height="12"> <span
                        style="color:#01ACE4;"><strong> Termine und Aktivitäten für die {{ company }} Niederlande:</strong></span><br>
                    <strong>Übertragung</strong> der
                    Arbeitszeiten {{ generate_date_from_month() }}: {{ generate_date_from_now(-7, 12)|safe }} MESZ
                    (UTC+2)
                    <br>
                    <strong>Übertragung </strong> der
                    Arbeitszeiten {{ generate_date_from_month() }}: {{ generate_date_from_now(-3, 10)|safe }} MESZ
                    (UTC+2)
                    <br>
                    <strong>Finale Übertragung</strong> der
                    Arbeitszeiten {{ generate_date_from_month() }}: {{ generate_date_from_now(-2, 10)|safe }} MESZ
                    (UTC+2)<br>
                    <br>
                    <br>
                    <img src="{{ url_for('static', filename="bn-usa.gif") }}" height="12"> <img
                        src="{{ url_for('static', filename="bn-cdn.gif") }}" height="12"> <span
                        style="color:#01ACE4;"><b> Termine und Aktivitäten für die {{ company }} Nord Amerika:</b></span><br>
                    <b>Mitarbeiter:</b> Abschlusstermin der
                    Arbeitszeiten {{ generate_date_from_month() }}: {{ generate_date_from_now(-7, 16)|safe }} CST
                    (UST-6)<br>
                    &nbsp; ⚠ {{ generate_date_from_month() }}: {{ generate_date_from_now(-7, 23)|safe }} CST (UTC-6):
                    Keinerlei Buchungen und
                    Korrekturen für den
                    Buchungszeitraum mehr möglich. <br><br>
                    <img src="{{ url_for('static', filename="bn-mal.gif") }}" height="12"> <span style="color:#01ACE4;"><b>Termine und Aktivitäten für die {{ company }} Malaysia:</b></span><br>
                    <b>Mitarbeiter:</b> Abschlusstermin der Arbeitszeiten
                    (Reporting) {{ generate_date_from_month() }}: {{ generate_date_from_now(-5, 18)|safe }} MYT (UTC+8)
                    <br>
                    <b>Personalvorgestzter:</b> Freigabe der Arbeitszeiten
                    (Reporting) {{ generate_date_from_month() }}: {{ generate_date_from_now(-2, 12)|safe }} MYT
                    (UTC+8)<br>
                    <br>
                    Sie finden die aktuellen Termine auch im <a
                        href="{{ url_for("main_menu.main_menu") }}"
                        target="_blank"
                        style="color:blue"><u>Monatsabschlussplan</u></a>.<br>
                    <br>
                </div>
                <hr>
                <br>
                <h3 style=" margin-top:0em; margin-bottom:0em">Funktionseinschränkungen bei Nutzung des Internet
                    Explorers in der Kompatibilitätsansicht
                </h3>
                <br>
                Durch das <a
                    href="{{ url_for("main_menu.main_menu") }}"
                    target="_blank" style="color:blue"><u> Ausschalten der Kompatibilitätsansicht</u></a> oder den
                Wechsel auf alternative Browser (<a href="{{ url_for("main_menu.main_menu") }}" target="_blank"
                                                    style="color:blue"><u>Firefox</u></a> oder <a
                    href="{{ url_for("main_menu.main_menu") }}" target="_blank"
                    style="color:blue"><u> Chrome</u></a>) treten Probleme zu <strong>inaktive Buttons</strong>
                nicht mehr auf.<br>
                <a href="{{ url_for("main_menu.main_menu") }}" target="_blank" style="color:blue"><u>Weitere
                    Informationen</u></a><br>
                <br>
                <hr>
                <br>
                <h3 style="margin-top:0em; margin-bottom:0em" align="center">Bei Fragen, Problemen und Anregungen zu
                    {{ application }}
                </h3>
                <p align="center"> wenden Sie sich bitte an Ihre {{ application }}-<a
                        href="{{ url_for("main_menu.main_menu") }}" target="_blank"
                        style="color:blue"><u>Ansprechpartner</u></a>.
                </p>
                <hr>
                <br>
                <h3 style="margin-top:0em; margin-bottom:0em" align="center">Im Rahmen der <a
                        href="{{ url_for("main_menu.main_menu") }}"
                        target="_blank"><u>GBV</u></a> ist die <a
                        href="{{ url_for("main_menu.main_menu") }}" target="_blank">Download
                    Policy</a> beim Download von personenbezogenen Daten zu berücksichtigen
                </h3>
                <br>
                <hr>
            </div>
        </td>
    </tr>
    <tr>
        <td class="navigation">
        </td>
        <td class="foot" id="foot_td_id">
                  <span class="srvinfo"><span class="label">Server:</span>
                  <span>mptp</span>
                  <span class="label">Version:</span>
                  <span>mp_04_24</span>
                  <span class="label">Revision:</span>
                  <span>13865</span>
                  <span class="label">Patchlevel:</span>
                  <span>p1</span>
                  <span class="label">Installationsdatum:</span>
                  <span>29.06.2020</span>
                  </span><br>
            <br>
            {{ generate_server_signature() }}
        </td>
    </tr>
    </tbody>
</table>
<script type="text/javascript">
    //<![CDATA[
    Init();
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
    SetFocus();
    //]]>
</script>
</body>
</html>