<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ application }} Aufwandserfassung</title>
    <script type="text/javascript" src="{{ url_for('static', filename="epoch_calendar.js") }}"></script>
    <script type="text/javascript">
        //<![CDATA[
        let gui_focus_id;

        function SetFocusId(i_id) {
            gui_focus_id = i_id;
        }

        function SetFocus() {
            let el = document.getElementById(gui_focus_id);
            if (el) {
                el.focus();
                if (el.select) {
                    el.select();
                }

            }

        }

        //]]>
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="style.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="print.css") }}" media="print">
    <style type="text/css">
        .bgclr {
            background-color: white;
        }

        .head, .head_big {
            border-color: white;
        }
    </style>
</head>
<body onload="setKalender()">
<table class="default_layout main_layout">
    <tbody>
    <tr>
        <td class="bgclr" rowspan="2">
            <a href="{{ url_for("main_menu.main_menu") }}" class="logo"><img
                    src="{{ url_for('static', filename="compor-plus.logo.png") }}" alt="{{ application }} Hauptmenü"
                    title="{{ application }} Hauptmenü"></a>
        </td>
        <td class="head">
            <div class="left"><a
                    href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}">Sicht:
                {{ company }}</a>
            </div>
            <div class="right"><a
                    href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}"
                    title="Öffnet die Informations-Seite in einem neuen Fenster."
                    target="_blank">{{ application }}-Info</a>
                <a href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}-Erfassung.29">Hilfe</a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="head_big">
            <div class="left">{{ application }}</div>

        </td>
    </tr>
    <tr>
        <td class="head">
        </td>
        <td class="head">
            <div class="left">Sie sind hier:
                <a href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}">Zeitmanagement</a>
                &gt;
                Aufwandserfassung
            </div>
            <div class="right">
                Nutzer: <a href="{{ url_for("user_routes.user_editor") }}">{{ user.generate_username() }}</a>
                <a href="{{ url_for("user_routes.logout") }}" title="Abmelden vom Anmeldeverbund">Abmelden</a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="navigation">
            <ul class="navigation">
                <li class="navigation">
                    <div class="navigation navig_lev1 navig_inactive menu_clr_ma1"><a
                            href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}"
                            id="MEI_M110"
                            class="navigation" accesskey="Z">Zeitmanagement</a>
                    </div>
                    <ul class="navigation">
                        <li class="navigation">
                            <div class="navigation navig_lev2 navig_inactive menu_clr_ma2"><a
                                    href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}"
                                    id="MEI_024" class="navigation" accesskey="O"> Objektübersicht</a>
                            </div>
                        </li>
                        <li class="navigation">
                            <div class="navigation navig_lev2 navig_inactive menu_clr_ma2"><a
                                    href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}"
                                    id="MEI_158" class="navigation" accesskey="A"> Arbeitsvorrat</a>
                            </div>
                        </li>
                        <li class="navigation">
                            <div class="navigation navig_lev2 navig_active menu_clr_ma2"><a
                                    href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}"
                                    id="MEI_190" class="navigation" accesskey="A"> Aufwandserfassung</a>
                            </div>
                        </li>
                        <li class="navigation">
                            <div class="navigation navig_lev2 navig_inactive menu_clr_ma2"><a
                                    href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}"
                                    id="MEI_023" class="navigation" accesskey="A"> Aufgabenübersicht</a>
                            </div>
                        </li>
                    </ul>

                </li>
                <li>
                    <div class="navigation navig_lev1 navig_inactive menu_clr_ma1"><a
                            href="{{ url_for("reports.reports", user_id=user.id) }}"
                            id="MEI_022"
                            class="navigation" accesskey="B">Berichte</a>
                    </div>
                </li>
            </ul>
        </td>
        <td class="content">
            <noscript>Java Script ist deaktiviert.</noscript>
            <br>
            <noscript>Bitte aktivieren Sie Java Script.</noscript>
            <div id="waitDisplay" class="content" style="display: none;"><br>
                Die Daten werden geladen. Bitte haben Sie etwas Geduld.
            </div>
            <div id="delayedDisplay" class="content" style="display: inline;">
                <script type="text/javascript">
                    let cal;

                    function getWeekNumber(d) {
                        // https://stackoverflow.com/a/6117889
                        // Copy date so don't modify original
                        d = new Date(Date.UTC(d.getFullYear(), d.getMonth(), d.getDate()));
                        // Set to nearest Thursday: current date + 4 - current day number
                        // Make Sunday's day number 7
                        d.setUTCDate(d.getUTCDate() + 4 - (d.getUTCDay() || 7));
                        // Get first day of year
                        let yearStart = new Date(Date.UTC(d.getUTCFullYear(), 0, 1));
                        // Calculate full weeks to nearest Thursday
                        let weekNo = Math.ceil((((d - yearStart) / 86400000) + 1) / 7);
                        // Return array of year and week number
                        return weekNo;
                    }

                    function SubmitForm(action) {
                        console.log(action)
                        if (action === "Speichern")
                            document.forms[0].submit();
                        else if (action === "clickOnDay") {
                            // Tue Jul 14 2020 00:00:00 GMT+0200 (Mitteleuropäische Sommerzeit)
                            let selectedDate = cal.selectedDates[0];
                            let date = new Date(selectedDate);
                            let weekNumber = getWeekNumber(date);
                            if (!isNaN(weekNumber)) {
                                if (window.location.href.endsWith(weekNumber.toString()))
                                    return

                                let redirect_to = "{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week="")}}" + weekNumber
                                window.open(redirect_to, "_self");
                            }
                        }
                    }

                    function setKalender() {
                        cs_next_month = "Nächster Monat";
                        cs_prev_month = "Voriger Monat";
                        cs_max_range = "Dies ist die maximale Zeitspanne";
                        ps_access_key = "1";
                        pi_tab_offset = 20;
                        cs_calender_dy = "Di-";
                        cs_calender_wk = "Mo";
                        MONTH_NAMES_SHORT = ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"];
                        DAY_NAMES_SHORT = ["So", "Mo", "Di", "Mi", "Do", "Fr", "Sa", "So"];
                        let container = document.getElementById("calendar_container");
                        console.log(new Date())
                        cal = new Epoch('cal', 'flat', container, false);
                        console.log(cal)
                    }

                    //]]>
                </script>
                <h1>Aufwandserfassung</h1>
                <form method="post"
                      action="{{ url_for("performance_recording.expense_recording_submit", user_id=user.id, calendar_week=calendar_week) }}"
                      name="pform">
                    <h2>KW {{ calendar_week }}: {{ generate_week_period_caption(calendar_week) }}</h2>
                    <hr>
                    <input type="hidden" value="27.07.2020"><input type="hidden"
                                                                   value="31.07.2020">

                    <input type="hidden" value=""><input type="hidden"
                                                         value=""><input type="hidden"
                                                                         value="3"><input
                        type="hidden" value="">
                    <table class="pweek_layout">
                        <tbody>
                        <tr>
                            <td rowspan="6">
                                <div id="calendar_container" onclick="SubmitForm('clickOnDay')">

                                </div>
                            </td>
                            <td>
                            </td>
                            {% for day in generate_array_of_weekdays_for_week(calendar_week) %}
                                <td>
                                    <input type="hidden" value="27.07.2020">
                                    <input type="hidden" value="">{{ format_date_day_month(day) }}
                                </td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td class="col_btn">
                                <input type="button" id="button1" class="tc_day_btn" tabindex="118" value="Mo+">
                            </td>
                            <td class="col_btn">
                                <input type="button" id="button2" class="tc_day_btn" tabindex="150" value="Di+">
                            </td>
                            <td class="col_btn">
                                <input type="button" id="button3" class="tc_day_btn" tabindex="182" value="Mi+">
                            </td>
                            <td class="col_btn">
                                <input type="button" id="button4" class="tc_day_btn" tabindex="214" value="Do+">
                            </td>
                            <td class="col_btn">
                                <input type="button" id="button5" class="tc_day_btn" tabindex="246" value="Fr+">
                            </td>
                        </tr>
                        <tr>
                            <td class="tc_row_caption">
                                Anfang
                            </td>
                            <td>
                                <input name="start_monday" onchange="get_az(this, '1', ',5');" size="5"
                                       tabindex="119" type="text" value="06:00">
                            </td>
                            <td>
                                <input type="text" name="start_monday" size="5"
                                       onchange="get_az(this, '2', ',5');" tabindex="151" value="06:00">
                            </td>
                            <td>
                                <input type="text" name="start_monday" size="5"
                                       onchange="get_az(this, '3', ',5');" tabindex="183" value="06:00">
                            </td>
                            <td>
                                <input type="text" name="start_monday" size="5"
                                       onchange="get_az(this, '4', ',5');" tabindex="215" value="06:00">
                            </td>
                            <td>
                                <input type="text" name="start_monday" size="5"
                                       onchange="get_az(this, '5', ',5');" tabindex="247" value="06:00">
                            </td>
                        </tr>
                        <tr>
                            <td class="tc_row_caption">
                                Ende
                            </td>
                            <td>
                                <input type="text" name="end_monday" size="5"
                                       onchange="get_az(this, '1', ',5');" tabindex="120" value="20:00">
                            </td>
                            <td>
                                <input type="text" name="end_tuesday" size="5"
                                       onchange="get_az(this, '2', ',5');" tabindex="152" value="20:00">
                            </td>
                            <td>
                                <input type="text" name="end_wednesday" size="5"
                                       onchange="get_az(this, '3', ',5');" tabindex="184" value="20:00">
                            </td>
                            <td>
                                <input type="text" name="end_thursday" size="5"
                                       onchange="get_az(this, '4', ',5');" tabindex="216" value="20:00">
                            </td>
                            <td>
                                <input type="text" name="end_friday" size="5"
                                       onchange="get_az(this, '5', ',5');" tabindex="248" value="20:00">
                            </td>
                        </tr>
                        <tr>
                            <td class="tc_row_caption">
                                Arbeitszeit bei 00:30 Pause
                            </td>
                            <td>
                                <input type="text" size="5" disabled="disabled" value="13:30">
                            </td>
                            <td>
                                <input type="text" size="5" disabled="disabled" value="13:30">
                            </td>
                            <td>
                                <input type="text" size="5" disabled="disabled" value="13:30">
                            </td>
                            <td>
                                <input type="text" size="5" disabled="disabled" value="13:30">
                            </td>
                            <td>
                                <input type="text" size="5" disabled="disabled" value="13:30">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                            </td>
                        </tr>
                        {% for working_hour in working_hours %}
                            <tr>
                                <td>
                                    <input type="text" disabled="disabled"
                                           value="{{ working_hour.project_name|safe }}">
                                </td>
                                <td class="tc_row_caption">
                                    <input type="text" size="5" disabled="disabled" value="00:00">
                                </td>
                                <td>
                                    <input type="text" name="{{ working_hour.project_id }}_monday"
                                           size="5" tabindex="131"
                                           value="{{ working_hour.monday|safe }}">
                                </td>
                                <td>
                                    <input type="text" name="{{ working_hour.project_id }}_tuesday"
                                           size="5" tabindex="163"
                                           value="{{ working_hour.tuesday|safe }}">
                                </td>
                                <td>
                                    <input type="text" name="{{ working_hour.project_id }}_wednesday"
                                           size="5" tabindex="195"
                                           value="{{ working_hour.wednesday|safe }}">
                                </td>
                                <td>
                                    <input type="text" name="{{ working_hour.project_id }}_thursday"
                                           size="5" tabindex="227"
                                           value="{{ working_hour.thursday|safe }}">
                                <td>
                                    <input type="text" name="{{ working_hour.project_id }}_friday"
                                           size="5" tabindex="259"
                                           value="{{ working_hour.friday|safe }}">
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="2">
                            </td>
                            <td colspan="5">
                                <input type="button" id="button9" class="tc_submit" onclick="SubmitForm('Speichern')"
                                       tabindex="279" value="Speichern">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </td>
    </tr>
    <tr>
        <td class="navigation">
        </td>
        <td class="foot" id="foot_td_id">
            {{ generate_server_signature() }}
        </td>
    </tr>
    </tbody>
</table>
<script type="text/javascript">
    //<![CDATA[
    SetFocus();
    //]]>
</script>
</body>
</html>