<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ application }} Berichte</title>
    <script type="text/javascript">
        //<![CDATA[
        var gui_focus_id;

        function SetFocusId(i_id) {
            gui_focus_id = i_id;
        }

        function SetFocus() {
            el = document.getElementById(gui_focus_id);
            if (el) {
                el.focus();
                if (el.select) {
                    el.select();
                }

            }

        }

        //]]>
    </script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="style.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="print.css") }}" media="print">
    <style type="text/css">
        .bgclr {
            background-color: white;
        }

        .head, .head_big {
            border-color: white;
        }
    </style>
</head>
<body>
<table class="default_layout main_layout">
    <tbody>
    <tr>
        <td class="bgclr" rowspan="2">
            <a href="{{ url_for("main_menu.main_menu") }}" class="logo"><img
                    src="{{ url_for('static', filename="compor-plus.logo.png") }}" alt="{{ application }} Hauptmenü"
                    title="{{ application }} Hauptmenü"></a>
        </td>
        <td class="head">
            <div class="left"><a
                    href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}">Sicht:
                {{ company }}</a>
            </div>
            <div class="right"><a
                    href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}"
                    title="Öffnet die Informations-Seite in einem neuen Fenster."
                    target="_blank">{{ application }}-Info</a>
                <a href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}">Hilfe</a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="head_big">
            <div class="left">{{ application }}</div>


            </div>
        </td>
    </tr>
    <tr>
        <td class="head">
        </td>
        <td class="head">
            <div class="left">Sie sind hier:
                <a href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}">Zeitmanagement</a>
                &gt;
                Berichte
            </div>
             <div class="right">
                    Nutzer: <a href="{{ url_for("user_routes.user_editor") }}">{{ user.generate_username() }}</a>
                    <a href="{{ url_for("user_routes.logout") }}" title="Abmelden vom Anmeldeverbund">Abmelden</a>
                </div>
        </td>
    </tr>
    <tr>
        <td class="navigation">
            <ul class="navigation">
                <li class="navigation">
                    <div class="navigation navig_lev1 navig_inactive menu_clr_ma1"><a
                            href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}"
                            id="MEI_M110"
                            class="navigation" accesskey="Z">Zeitmanagement</a>
                    </div>
                    <ul class="navigation">
                        <li class="navigation">
                            <div class="navigation navig_lev2 navig_inactive menu_clr_ma2"><a
                                    href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}"
                                    id="MEI_024" class="navigation" accesskey="O"> Objektübersicht</a>
                            </div>
                        </li>
                        <li class="navigation">
                            <div class="navigation navig_lev2 navig_inactive menu_clr_ma2"><a
                                    href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}"
                                    id="MEI_158" class="navigation" accesskey="A"> Arbeitsvorrat</a>
                            </div>
                        </li>
                        <li class="navigation">
                            <div class="navigation navig_lev2 navig_inactive menu_clr_ma2"><a
                                    href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}"
                                    id="MEI_190" class="navigation" accesskey="A"> Aufwandserfassung</a>
                            </div>
                        </li>
                        <li class="navigation">
                            <div class="navigation navig_lev2 navig_inactive menu_clr_ma2"><a
                                    href="{{ url_for("performance_recording.performance_recording", user_id=user.id, calendar_week=calendar_week) }}"
                                    id="MEI_023" class="navigation" accesskey="A"> Aufgabenübersicht</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="navigation navig_lev1 navig_inactive menu_clr_ma1"><a
                            href="{{ url_for("reports.reports", user_id=user.id) }}"
                            id="MEI_022"
                            class="navigation" accesskey="B">Berichte</a>
                    </div>
                </li>

            </ul>
        </td>
        <td class="content">
            <noscript>Java Script ist deaktiviert.</noscript>
            <br>
            <noscript>Bitte aktivieren Sie Java Script.</noscript>
            <div id="waitDisplay" class="content" style="display: none;"><br>
                Die Daten werden geladen. Bitte haben Sie etwas Geduld.
            </div>
            <div id="delayedDisplay" class="content" style="display: inline;">
                <h1>Berichte</h1>
                <div class="gui_centered">
                    <div class="vertical_spacer_bottom_small gui_block">
                        <fieldset class="legend_caption">
                            <legend>Leistungsnachweis</legend>
                            <script>
                                function onOpenPerformanceRecord() {
                                    let selected = document.getElementById("i_bumo_id_ma").value
                                    let redirect_to = "{{ url_for("reports.performance_record", user_id=user.id, calendar_week="")}}" + selected
                                    window.open(redirect_to)
                                }
                            </script>
                            <form onsubmit="onOpenPerformanceRecord()">
                                <div class="left horizontal_spacer_right_small">
                                    <div class="gui_label_and_input">
                                        <div class="gui_label"><label for="i_bumo_id_ma"
                                                                      class="gui_label_short">Kalenderwoche</label>
                                        </div>
                                        <div class="gui_input">
                                            <select name="i_bumo_id" size="1" id="i_bumo_id_ma"
                                                    class="gui_label_short">
                                                {% for week  in calendar_weeks | sort(reverse=True, attribute="calendar_week") %}
                                                    <option>{{ week.calendar_week }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="cleared_row"></div>
                                <div class="gui_label_and_input"><input type="checkbox" name="i_act" value="datum"
                                                                        checked="checked" id="i_act_ma">
                                    <label for="i_act_ma" class="gui_checkbox">Druckdatum als Unterschriftsdatum
                                        anzeigen</label>
                                </div>
                                <div class="gui_label_and_input"><input type="checkbox" name="i_det" value="detail"
                                                                        checked="checked" id="i_det_ma">
                                    <label for="i_det_ma" class="gui_checkbox">Aktivität anzeigen</label>
                                </div>
                                <div class="gui_label_and_input"><input type="checkbox" name="i_leistungsart" value="j"
                                                                        id="i_leistungsart_ma">
                                    <label for="i_leistungsart_ma" class="gui_checkbox">Leistungsart anzeigen</label>
                                </div>
                                <div class="gui_label_and_input"><input type="checkbox" name="i_ratetype" value="j"
                                                                        id="i_ratetype_ma">
                                    <label for="i_ratetype_ma" class="gui_checkbox">Ratetype anzeigen</label>
                                </div>
                                <div class="gui_label_and_input"><input type="checkbox" name="i_arbeitszeit" value="on"
                                                                        checked="checked" id="i_arbeitszeit_ma">
                                    <label for="i_arbeitszeit_ma" class="gui_checkbox">Arbeitszeit anzeigen</label>
                                </div>
                                <div class="gui_label_and_input"><input type="checkbox" name="i_reisezeit" value="on"
                                                                        checked="checked" id="i_reisezeit_ma">
                                    <label for="i_reisezeit_ma" class="gui_checkbox">Reisezeit anzeigen</label>
                                </div>
                                <div class="gui_label_and_input"><input type="checkbox" name="i_ruf_aktiv" value="on"
                                                                        id="i_ruf_aktiv_ma">
                                    <label for="i_ruf_aktiv_ma" class="gui_checkbox">Rufbereitschaft (aktiv)
                                        anzeigen</label>
                                </div>
                                <div class="gui_label_and_input"><input type="checkbox" name="i_ruf_passiv" value="on"
                                                                        id="i_ruf_passiv_ma">
                                    <label for="i_ruf_passiv_ma" class="gui_checkbox">Rufbereitschaft (passiv)
                                        anzeigen</label>
                                </div>
                                <div class="gui_label_and_input"><input type="checkbox" name="i_null_wert" value="on"
                                                                        id="i_null_wert_ma">
                                    <label for="i_null_wert_ma" class="gui_checkbox">Aktivitäten ohne Stundensatz
                                        unterdrücken</label>
                                </div>
                                <input type="submit" value="Anzeigen">
                            </form>
                        </fieldset>

                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="navigation">
        </td>
        <td class="foot" id="foot_td_id">
            {{ generate_server_signature() }}
        </td>
    </tr>
    </tbody>
</table>
<script type="text/javascript">
    //<![CDATA[
    Init();
    //]]>
</script>
<script type="text/javascript">
    //<![CDATA[
    SetFocus();
    //]]>
</script>
</body>
</html>