<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ application }} Leistungsnachweis</title>
    <script type="text/javascript">
        //<![CDATA[
        var gui_focus_id;

        function SetFocusId(i_id) {
            gui_focus_id = i_id;
        }

        function SetFocus() {
            el = document.getElementById(gui_focus_id);
            if (el) {
                el.focus();
                if (el.select) {
                    el.select();
                }

            }

        }

        //]]>
    </script>
    <link rel="stylesheet" type="text/css" href="../static/performance_report.style.css">
    <link rel="stylesheet" type="text/css" href="../static/performance_report.print.css" media="print">

</head>
<body>
<h1>Leistungsnachweis</h1>
<h2>Mitarbeiter: {{ user_name }}</h2>
<div class="vertical_spacer_bottom_medium horizontal_spacer_left_medium">
    <div class="vertical_spacer_bottom_medium">
        <div class="vertical_spacer_bottom_small"><span class="cap_long">Objekt:</span>
            <span>{{ project }}</span></div>
        <div class="vertical_spacer_bottom_small"><span class="cap_long">Aktivität:</span>
            <span>Gesamtobjekt
</span></div>
        <div class="vertical_spacer_bottom_small"><span class="cap_long">Mitarbeiter:</span>
            <span>{{ user_name }}
</span></div>
        <div><span class="cap_long">Monat:</span>
            <span>04.2020
</span></div>
    </div>
    <table class="default_table dataset vertical_spacer_bottom_small data">
        <tbody>
        <tr>
            <th colspan="2">Tag</th>
            <th>Aktivität</th>
            <th>geleistete<br>Stunden</th>
            <th>Erbrachte Leistung, Bemerkung</th>
        </tr>
        <tr>
            <td class=" tdtop">
                Mo
            </td>
            <td class=" tdright tdtop">
                06.04.
            </td>
            <td class=" tdtop">
                Consulting
                <br>
                M-T5C-110029911-01
            </td>
            <td class=" tdright tdtop">
                05:30
            </td>
            <td class=" tdtop">

            </td>
        </tr>
        <tr>
            <td class=" tdright tdtop" colspan="3">

<span class="bold">Summe KW15
</span>
            </td>
            <td class=" tdright tdtop">

<span class="bold">05:30
</span>
            </td>
            <td class=" tdtop">

            </td>
        </tr>
        <tr>
            <td class=" tdright tdtop" colspan="3">

<span class="bold">Summe
</span>
            </td>
            <td class=" tdright tdtop">

<span class="bold">05:30
</span>
            </td>
            <td class=" tdtop">

            </td>
        </tr>
        </tbody>
    </table>
    <div class="vertical_spacer_bottom_medium"><br>
        <div class="vertical_spacer_bottom_small"><span class="cap_long">Datum</span>
            <span>28.07.2020
</span></div>
        <br>
        <div class="vertical_spacer_bottom_small"><span class="cap_long">Unterschrift Mitarbeiter</span>
            <span>________________________________________
</span></div>
        <br>
        <div class="vertical_spacer_bottom_small"><span class="cap_long">Unterschrift Auftraggeber</span>
            <span>________________________________________
</span></div>
        <br>
        <div><span class="cap_long">Auftraggeber Name, Vorname</span>
            <span>________________________________________
</span></div>
    </div>
</div>
<div class="gui_centered">
    <div class="gui_block">{{ generate_server_timestamp() }} © {{ company }} 2020, v13571
    </div>
</div>
</body>
</html>