<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{{ application }} Leistungsnachweis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="performance_report.style.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="performance_report.print.css") }}"
          media="print">
</head>
<body>
<h1>Leistungsnachweis</h1>
<h2>Mitarbeiter: {{ user_name }}</h2>
<div class="vertical_spacer_bottom_medium horizontal_spacer_left_medium">
    <div class="vertical_spacer_bottom_medium">
        <div class="vertical_spacer_bottom_small"><span class="cap_long">Mitarbeiter:</span>
            <span>{{ user_name }}
               </span>
        </div>
        <div><span class="cap_long">KW:</span>
            <span>{{ calendar_week }}
               </span>
        </div>
    </div>
    <table class="default_table dataset vertical_spacer_bottom_small data">
        <tbody>
        <tr>
            <th>Tag</th>
            <th>Aktivität</th>
            <th>geleistete<br>Stunden</th>
            <th>Erbrachte Leistung, Bemerkung</th>
        </tr>
        {% for w in work %}
            <tr>
                <td class=" tdtop">
                    {{ w.day|safe }}
                </td>
                <td class=" tdtop">
                    {{ w.project|safe }}
                </td>
                <td class=" tdright tdtop">
                    {{ w.work|safe }}
                </td>
                <td class=" tdtop">
                </td>
            </tr>
        {% endfor %}
        <tr></tr>
        <tr>
            <td class=" tdtop">
                <b>Summe KW15</b>
            </td>
            <td class=" tdtop">
            </td>
            <td class=" tdright tdtop">
                <b>{{ sum_work|safe }}</b>
            </td>
            <td class=" tdtop">
            </td>
        </tr>
        </tbody>
    </table>
    <div class="vertical_spacer_bottom_medium">
        <br>
        <div class="vertical_spacer_bottom_small"><span class="cap_long">Datum</span>
            <span>{{ get_current_date() }}
               </span>
        </div>
        <br>
        <div class="vertical_spacer_bottom_small"><span class="cap_long">Unterschrift Mitarbeiter</span>
            <span>________________________________________
               </span>
        </div>
        <br>
        <div class="vertical_spacer_bottom_small"><span class="cap_long">Unterschrift Auftraggeber</span>
            <span>________________________________________
               </span>
        </div>
        <br>
        <div><span class="cap_long">Auftraggeber Name, Vorname</span>
            <span>________________________________________
               </span>
        </div>
    </div>
</div>
<br/><br/>
<div class="gui_centered">
    <div class="gui_block">{{ generate_server_signature() }}
    </div>
</div>
</body>
</html>